@import "fonts";


body {
    font-family: 'PT';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logos {
        .header__logo {}
    }

    .hader__title {
        font-family: 'PT';
    }

    .header__menu {
        background-image: url(../images/menu.svg);
    }
}